.navbar
    justify-content: space-between 
    max-width: 1200px 
    margin: 0 auto
    padding: 0
    height: 4rem
    .navbar-brand
        margin-right: auto
        padding-left: 1rem
    .navbar-toggler
        margin-right: 1rem
    .navbar-collapse
        justify-content: flex-end
        .navbar-nav
            align-items: center
            gap: 2.5rem
            .nav-item
                color: grey
                font: 300 1rem 'montserrat', sans-serif
                &:hover
                    color: $limeGreen
                &:focus
                    color: $linkGreen
    // Give overlay opaque background
    #navbarNavAltMarkup
        .navbar-nav
            background-color: white    
