.company-info
    min-height: 550px
    background-color: $lightGrey
    .section__inner
        display: flex
        padding-top: 70px
        padding-bottom: 60px
        .info
            &__left, &__right
                flex: 1 1 0
            &__right
                width: 50%
                display: flex
                justify-content: center
                align-items: center
                img
                    width: 100%
                    max-width: 400px
            &__left
                display: flex
                flex-direction: column
                justify-content: center
                width: 100%
                p
                    font-family: 'Open Sans', sans-serif
                    max-width: 520px
                    @media (max-width: 768px)
                        font-size: 0.9rem
                a
                    margin-top: 1rem
                    padding: 0.8rem 0 0.7rem
                    border: none
                    border-radius: 5px
                    background-color: $mainGreen
                    color: white
                    width: 10rem
                    font-weight: bold
                    text-align: center
                    text-decoration: none
                .info-title
                    display: flex
                    justify-content: left
                    align-items: center
                    svg
                        position: relative
                        bottom: 0.7rem
                        padding: 3px
                        margin-right: 1.5rem
                        overflow: visible
                        rect
                            fill: $limeGreen
                    h1
                        font: 500 2.5rem 'Poppins', serif
                        color: $mainGreen
                        margin-bottom: 1rem
                        letter-spacing: -2px
                        white-space: nowrap
                        @media (max-width: 768px)
                            font-size: 2.3rem
                        @media (max-width: 576px)
                            font-size: 2rem
                
            