.transition
    &__upper, &__lower
        min-width: 320px
        svg
            position: relative
            fill: $darkGreen
    &__upper
        background-color: $lightGrey
        svg
            top: 1px
    &__lower
        svg
            bottom: 1px
            transform: rotate(180deg)
            @media(max-width: 576px)
                bottom: 3px

